<section data-ng-controller="HomeController">
	<div class="wide">
		<!-- <div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
				<img alt="MEAN.JS" class="img-responsive text-center" src="modules/core/img/brand/logo.png" />
			</div>
		</div>
		<br> -->
		<div class="row">
			<p class="lead">
				</br>
			</p>
		</div>
		<div class="row" data-ng-hide="authentication.user">
			<p>
				<a class="btn btn-primary btn-lg" href="/#!/signup-candidate">Signup as a candidate</a>
				<a class="btn btn-primary btn-lg" href="/#!/signup-employer">Signup as an employer</a>
			</p>
		</div>
	</div>
	<div class="container" data-ng-include="'/modules/jobs/views/list-jobs.client.view.html'"></div>	
</section>
