<section data-ng-controller="JobsController" data-ng-init="findOne()">

<div class="container" style="padding-top:40px;">
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<th>Title</th>
					<th>Type</th>
					<th>Category</th>
					<th>Industry</th>
				</tr>
			</thead>
			<tbody>
				<tr class="success">
					<th>{{job.title}}</th>
					<th>{{job.type}}</th>
					<th>{{job.category}}</th>
					<th></th>
				</tr>
			</tbody>	
		</table>
	</div>

	<!-- <div class="page-header col-md-12">
		<div class="col-md-4">
			<h1 data-ng-bind="job.title"></h1>
		</div>
	</div>

	<div class="col-md-4">
		<div class="col-md-4">
			<h1 data-ng-bind="job.type"></h1>
		</div>

		<div class="col-md-4">
			<h1 data-ng-bind="job.category"></h1>
		</div>
	</div> -->
	
	<div class="pull-right" data-ng-show="authentication.user._id == job.user._id">
		<a class="btn btn-primary" href="/#!/jobs/{{job._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="job.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="job.user.profile.employer.companyName"></span>
			<span data-ng-bind="job.user.displayName"></span>
		</em>
	</small>
	<p class="lead" data-ng-bind="job.content"></p>
</section>